.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex: 1;
    overflow: hidden;
    .breadcrumbbox{
        width: 50%;
        overflow: hidden;
        background-color: red;
    }
    .leftbox{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .rightbox{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .sourcecode{
            width: 28px;
            height: 28px;
            cursor: pointer;
        }
    }

    .avatarbox{
        width: 150px;
        height: 44px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding-inline-start: 16px;
        padding-inline-end: 16px;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.45);
        .name{
            margin-inline-start: 8px;
            height: 44px;
            line-height: 44px;
        }
    }
    
    
}